// ! text fields
@mixin input-form-text {
  color: $text-color;
  font-size: rem(15);
  line-height: 28px;
  border: 1px solid map.get($md-gray, "400") !important;
  border-radius: 3px !important;
  background-color: $white !important;
  box-shadow: none !important;
  padding: 4px 2%;
  width: auto;
  transition: border-color 0.15s ease;

  &:focus {
    border-color: map.get($drupal-light-blue, "500") !important;
  }
}

input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-date,
input.form-time {
  @include input-form-text;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  display: flex;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;

  input {
    flex: 0 1 16px;
    margin-top: 3px;
  }

  label {
    flex: 0 1 calc(100% - 16px);
    margin-right: 1rem;
    margin-left: 8px;
  }
}

// ! textarea
@mixin textarea {
  color: $text-color;
  font-size: rem(15);
  border: 1px solid map.get($md-gray, "400") !important;
  border-radius: 1px 1px 0 0;
  background-color: $white !important;
  box-shadow: none !important;
  padding: 2%;
  width: 100%;
  transition: border-color 0.15s ease;

  &:focus {
    border-color: map.get($drupal-light-blue, "500") !important;
  }
}

textarea {
  @include textarea;
}

// ! select
@mixin select {
  color: map.get($drupal-blue, "500");
  font-size: rem(13);
  font-weight: 600;
  text-shadow: none;
  border: 1px solid map.get($drupal-blue, "500");
  border-radius: 3px;
  background: map.get($md-gray, "50") url("../images/icons/fa-regular/dark/chevron-down.svg") no-repeat 94% 50%;
  background-size: 14px auto;
  // box-shadow: 0 2px 3px 0 rgba($black, 0.075);
  box-shadow: none;
  padding: 0.4rem 0.5rem;
  min-width: 200px;

  &:hover,
  &:focus {
    color: $white;
    border-color: map.get($drupal-blue, "500");
    background-color: map.get($drupal-blue, "500");
    background-image: url("../images/icons/fa-regular/white/chevron-down.svg");
    box-shadow: none;
  }
}

select[multiple="multiple"] {
  font-size: rem(13);
  font-weight: 600;
  text-shadow: none;
  border: 1px solid map.get($drupal-blue, "500");
  border-radius: 3px;
  background-color: map.get($md-gray, "50");
  background-image: none;
  padding: 0.3rem 0.5rem;
  min-width: 200px;

  &:hover,
  &:focus {
    background-image: none;

  }
}

// Only apply to touch devices.
// Font-size at 16px avoids the automatic screen zooming.
@media (hover: none) {

  input.form-text,
  textarea,
  select {
    font-size: 1rem;
  }
}

// ! textarea - help blox
fieldset.filter-wrapper {
  border: 1px solid map.get($drupal-light-blue, "500");
  border-top-style: none;
  border-radius: 0 0 2px 2px;
  background-color: map.get($md-gray, "100");

  .filter-help {

    p {
      font-size: rem(14);

      a {
        padding-left: 0;
      }
    }
  }

  .filter-guidelines {

    ul {
      font-size: rem(13);
      padding-left: 12px;
    }
  }
}

// ! buttons
@mixin button {
  color: map.get($drupal-blue, "500");
  text-shadow: none;
  border: 1px solid map.get($drupal-blue, "500");
  border-radius: 3px !important;
  background-color: map.get($md-gray, "50");
  background-image: none;
  padding: 0.6rem 1.75rem !important;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    color: $white;
    border-width: 1px;
    border-color: map.get($drupal-blue, "500");
    background-color: map.get($drupal-blue, "500");
    background-image: none;
    box-shadow: none;
    transition: all 0.15s ease;
  }
}

@mixin button-color($bgcolor: $md-gray, $bgvalue: 400) {
  color: $white;
  text-shadow: none;
  border: 1px solid map.get($bgcolor, "#{$bgvalue + 100}");
  border-radius: 3px;
  background-color: map.get($bgcolor, "#{$bgvalue}");
  background-image: none;
  position: relative;
  z-index: 1;
  padding: 0.6rem 1.75rem !important;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    border: 1px solid map.get($bgcolor, "#{$bgvalue - 200}");
    background-color: map.get($bgcolor, "#{$bgvalue - 200}");
    background-image: none;
    box-shadow: none;
    transition: all 0.15s ease;
  }
}

// ! labels
%form-label {
  font-size: rem(13);
  text-transform: uppercase;
  display: block;
  padding-bottom: 3px;
}

label {
  @extend %form-label;
}

// ! views exposed form - processing text
.views-submit-button,
.views-reset-button {
  position: relative;

  .hide-submit-text {
    color: map.get($md-gray, "700");
    font-size: rem(13);
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: 0;
  }
}

fieldset:not(.fieldgroup) {
  border-color: map.get($md-gray, "300");
  background-color: $white !important;
}

fieldset {
  border-color: map.get($md-gray, "300");
}

.seven-details {
  border-color: map.get($md-gray, "300") !important;
  background-color: $white !important;
}
