body {
  background-color: map.get($md-gray, "200") !important;
}

// ! header
.content-header {
  background-color: map.get($md-gray, "200") !important;

  .layout-container {
    margin: 0 1.5rem;
  }

  .block-page-title-block {
    // border-bottom: 1px solid map.get($md-gray, "300");

    .page-title {
      margin: 0 0 1.75rem 3px;
    }
  }

  .block-local-tasks-block {
    border-radius: 2px 2px 0 0;
    background-color: map.get($md-gray, "50");
    // box-shadow: 0 -1px 0 0 rgba(map.get($md-gray, "700"), 0.05), 1px 0 0 0 rgba(map.get($md-gray, "700"), 0.05), -1px 0 0 0 rgba(map.get($md-gray, "700"), 0.05);
    box-shadow: 0 0 0 1px rgba(map.get($md-gray, "700"), 0.05);

    .is-collapse-enabled,
    .is-horizontal {

      .tabs::before {
        content: none;
      }
    }

    .is-horizontal .tabs.primary {
      margin-top: 0;
    }

    .is-horizontal .tabs.primary .tabs__tab {
      border-style: none;
      border-radius: 0 !important;
      background-color: map.get($md-gray, "50");
      margin: 0 !important;

      a {
        text-decoration: none;
        box-shadow: inset 0 -1px 0 0 rgba(map.get($md-gray, "700"), 0.05);
        padding: 0.75rem 2.5rem;

        &:focus {
          background-color: map.get($md-gray, "50");
        }
      }

      &.is-active {
        border-color: $white;
        background-color: $white;
        box-shadow: inset 0 -2px 0 0 map.get($drupal-blue, "500"), inset -1px 0 0 0 rgba(map.get($md-gray, "700"), 0.1), inset 1px 0 0 0 rgba(map.get($md-gray, "700"), 0.1);

        a {
          color: map.get($drupal-blue, "500");
          text-decoration: none;
          padding: 0.75rem 2.5rem;

          &:focus {
            color: map.get($drupal-light-blue, "500");
            background-color: $white;
            box-shadow: inset 0 -2px 0 0 map.get($drupal-light-blue, "500");
          }
        }
      }

      &:first-child,
      &:first-child a {
        border-top-left-radius: 2px !important;
      }
    }
  }
}

// ! breadcrumbs
.block-system-breadcrumb-block .breadcrumb {
  font-size: rem(12);
  padding: 0 0 1.75rem;

  li::before {
    content: "";
    background: transparent url("../images/icons/fa-regular/dark/chevron-right.svg") no-repeat 3px 3px;
    background-size: auto 10px;
    display: inline-block;
    width: 12px;
    height: 12px;
  }
}

// ! content
.layout-container:not(.content-header > .layout-container) {
  border-radius: 2px;
  background-color: $white;
  // box-shadow: 1px 0 0 0 rgba(map.get($md-gray, "700"), 0.05), 0 1px 1px 0 rgba(map.get($md-gray, "700"), 0.075), -1px 0 0 0 rgba(map.get($md-gray, "700"), 0.05);
  box-shadow: 0 0 0 1px rgba(map.get($md-gray, "700"), 0.05);
  margin: 0 1.5rem;
  padding: 1rem 1.75rem 1.75rem;
}

.layout-container {

  .is-collapse-enabled,
  .is-horizontal {

    .tabs::before {
      background-color: transparent;
    }
  }

  .tabs.secondary {
    margin-top: 0;

    li:first-child {
      margin-left: 0;
    }

    a {
      padding: 1rem 1rem 0.85rem;
    }
  }

  .page-content {
    margin-bottom: 0;
  }

  select:not([multiple="multiple"]) {
    @include select;
  }

  .button {
    @include button;
  }

  .button--small {
    @include button;
    padding: 0.25rem 1rem !important;
  }

  .form-submit {
    @include button;
  }

  .button--primary {
    @include button-color($drupal-blue, 500);
  }

  .button--primary[value="Save"] {
    @include button-color($md-light-green, 600);
  }

  .button--danger {
    @include button;
    color: map.get($md-gray, "700");
    border: 1px solid map.get($md-gray, "400");

    &:hover {
      color: map.get($md-red, "800");
      border: 1px solid map.get($md-red, "600");
      background-color: lighten(map.get($md-red, "50"), 3%);
    }
  }

  a.button--danger {
    text-decoration: none;
  }

  .layout-region-node-footer__content {
    border-style: none;
  }

  // details (fieldset)
  .seven-details {

    .seven-details__summary {
      background: map.get($md-gray, "50") url("../images/icons/fa-regular/dark/chevron-down.svg") no-repeat top 11px right 22px !important;
      background-size: 14px auto !important;

      &::marker {
        content: none;
      }
    }

    &[open] {
      padding-top: 0 !important;

      .seven-details__summary {
        background: $white url("../images/icons/fa-regular/dark/chevron-up.svg") no-repeat top 11px right 23px !important;
        background-size: 14px auto !important;
      }
    }
  }
}

// ! drop-down multiple
.layout-container {

  .dropbutton-multiple {

    .dropbutton-widget {
      color: #333;
      text-shadow: none !important;
      border: 1px solid map.get($drupal-blue, "500") !important;
      border-radius: 3px !important;
      background-color: map.get($md-gray, "50") !important;
      background-image: none !important;

      .dropbutton {

        .dropbutton-toggle button {
          border-left-color: map.get($drupal-blue, "500") !important;

          .dropbutton-arrow {
            border-style: none;
            background: transparent url("../images/icons/fa-regular/dark/chevron-down.svg") no-repeat center;
            background-size: 12px auto;
            top: 22%;
            right: 4px;
            width: 16px;
            height: 16px;
          }

          &:hover,
          &:focus {
            border-left-color: map.get($drupal-blue, "500") !important;
            background-color: map.get($md-gray, "100") !important;
            background-image: none !important;
            box-shadow: none;
          }
        }

        .secondary-action {
          border-top-color: map.get($md-gray, "50") !important;
        }

        .dropbutton-action {

          a:hover,
          a:focus,
          button:hover,
          button:focus,
          input:hover,
          input:focus {
            color: $white;
            border-color: map.get($drupal-blue, "500");
            border-radius: 0 !important;
            background-color: map.get($drupal-blue, "500") !important;
            background-image: none !important;
            box-shadow: none;
          }
        }
      }
    }

    &.open .dropbutton .dropbutton-toggle button .dropbutton-arrow {
      background-image: url("../images/icons/fa-regular/dark/chevron-up.svg");
      top: 6px;
    }
  }

  .dropbutton-single {

    .dropbutton-widget {

      .dropbutton {

        .dropbutton-action a {
          @include button;
          padding: 0.25rem 1rem !important;
        }
      }
    }
  }
}

// ! table
.layout-container {

  table {

    thead th {
      font-weight: 400;
      border-color: map.get($md-gray, "100");
      background-color: map.get($md-gray, "100");
    }

    tbody tr {
      border-bottom-color: map.get($md-gray, "200");
    }
  }

  .system-modules table {
    border: 1px solid map.get($md-gray, "300");
    border-top-style: none;

    td {
      border-bottom: 1px solid map.get($md-gray, "300") !important;
      padding: 14px 12px;

      details {
        white-space: unset;

        summary {
          cursor: pointer;
        }
      }
    }

    tr:first-child td {
      border-top: 1px solid map.get($md-gray, "300") !important;
    }
  }

  .system-modules table tr.even,
  .system-modules table tr.odd {
    border-bottom-style: none;
    background-color: transparent;
  }

  .system-modules .seven-details__summary {
    border-bottom-color: map.get($md-gray, "300");
  }

  .block-disabled:not(:hover) {
     background-color: map.get($md-gray, "100");
  }
}

// ! entity-meta box
.layout-container {

  .entity-meta {
    border-right: 1px solid map.get($md-gray, "300");
    border-left: 1px solid map.get($md-gray, "300");
    border-radius: 3px;
    background-color: map.get($md-gray, "100");
    box-shadow: none;

    .seven-details {
      border-style: none;
      border-bottom: 1px solid map.get($md-gray, "300") !important;
    }
  }

  .entity-meta__header {
    border-top: 1px solid map.get($md-gray, "300");
    border-bottom: 1px solid map.get($md-gray, "300");
    background-color: map.get($md-gray, "50");
  }

  .admin-list li {
    border-top-color: map.get($md-gray, "300");

    &:first-child {
      border-top-style: none;
    }

    a {
      background-image: url("../images/icons/fa-regular/dark/chevron-right.svg");
      background-position: 3px 18px;
      background-size: auto 14px;
    }
  }
}

// ! vertical tabs
.layout-container .form-type-vertical-tabs {

  .vertical-tabs {
    border-color: map.get($md-gray, "300");
    background-color: map.get($md-gray, "100");

    .vertical-tabs__menu {
      border-color: map.get($md-gray, "300");

      .vertical-tabs__menu-item {
        border-color: map.get($md-gray, "300");
        background-color: map.get($md-gray, "100");

        &.is-selected {
          border-right-color: $white;
          background-color: $white;
          box-shadow: none;

          a {
            background-color: $white !important;
          }
        }

        a {
          border-color: map.get($md-gray, "300");
          background-color: map.get($md-gray, "50");

          &:focus,
          &:hover {
            background-color: $white !important;
          }
        }
      }
    }

    .vertical-tabs__panes {
      border-color: map.get($md-gray, "300");
      background-color: $white;
    }
  }
}

// ! views
.layout-container .views-admin {

  .unit-title {
    margin-bottom: 1rem;
  }

  .views-displays {
    border-color: map.get($md-gray, "300");

    .views-display-top {
      border-color: map.get($md-gray, "300");
      background-color: map.get($md-gray, "100");
    }

    #views-display-menu-tabs {

      .tabs__tab {

        a {
          @include button;
          padding-top: 0.25rem !important;
          padding-bottom: 0.25rem !important;
        }

        &.is-active a {
          color: $white;
          border-color: map.get($drupal-blue, "500");
          background-color: map.get($drupal-blue, "500");
        }
      }

      .add {

        a {
          @include button;
          padding-top: 0.25rem !important;
          padding-bottom: 0.25rem !important;

          .icon.add {
            background-image: url("../images/icons/fa-regular/dark/plus.svg");
            background-position: 0 center;
            background-size: 10px auto;
          }

          &:focus .icon.add,
          &:hover .icon.add {
            background-image: url("../images/icons/fa-regular/white/plus.svg");
          }
        }

        .action-list {
          border-color: map.get($md-gray, "400");
          background-color: map.get($md-gray, "50");
          top: 26px;

          li {
            padding: 0;

            .form-submit {
              font-size: rem(14);
              font-weight: 400;
              padding: 0.6rem 0.5rem !important;
            }
          }

          .first,
          .last {
            border-radius: 0;
          }
        }
      }
    }

    .seven-details__summary {
      padding-left: 7px;
    }

    .views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
      background-color: map.get($md-gray, "100");
    }

    .dropbutton-single .dropbutton-action a {
      border: 1px solid map.get($drupal-blue, "500");
      border-radius: 3px !important;
      background-color: map.get($md-gray, "100");
      background-image: none;

      &:focus,
      &:hover {
        color: $white;
        background-color: map.get($drupal-blue, "500");
        background-image: none;
      }
    }
  }

  .form-edit .form-actions {
    border-color: map.get($md-gray, "300");
    background-color: map.get($md-gray, "100");
  }

  &.views-preview-wrapper {
    border-color: map.get($md-gray, "300");

    .view-preview-form__title {
      border-color: map.get($md-gray, "300");
      background-color: map.get($md-gray, "100");
    }

    .form-type-checkbox .form-checkbox {
      margin-top: 0.5rem;
    }
  }
}

.view-filters {
  border-bottom: 1px solid map.get($md-gray, "300");
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

// ! drupal modal
.ui-dialog {

  .ui-dialog-titlebar {
    border-bottom: 1px solid map.get($md-gray, "300") !important;
    border-top-right-radius: 2px !important;
    border-top-left-radius: 2px !important;
    background-color: $white !important;
    padding: 1.5rem 3.1rem 1.5rem 1.5rem !important;

    .ui-dialog-title {
      color: map.get($drupal-blue, "500");
      font-weight: 400;
    }

    .ui-dialog-titlebar-close {
      border-color: $white;
      top: 19px;

      .ui-icon.ui-icon-closethick {
        background-image: url("../images/icons/fa-regular/dark/xmark.svg");
      }
    }
  }

  #drupal-modal {

    .views-override {
      border-bottom-style: none;

      &:not(:empty) {
        background-color: $white !important;
      }
    }

    .form-select {
      @include select;
    }

    .scroll {

      .views-filterable-options {
        border-style: none;
      }
    }

    thead th {
      font-weight: 400 !important;
      border-color: map.get($md-gray, "300") !important;
      background-color: map.get($md-gray, "100") !important;
    }

    tbody > tr {
      border-bottom-color: map.get($md-gray, "200");
    }
  }

  .ui-dialog-buttonpane {
    border-color: map.get($md-gray, "300");
    border-bottom-right-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    background-color: map.get($md-gray, "100") !important;

    .form-submit {
      @include button;

      &.button--primary {
        @include button-color($md-blue, 700);
      }
    }
  }
}

// ! panel
.layout-container {

  .panel {
    border-color: map.get($md-gray, "300");
    background-color: map.get($md-gray, "50") !important;
  }

  .layout-column + .layout-column {
    padding-left: 1rem;
  }
}

.content-footer {
  padding: 1rem 0 4rem;

  // footer menu
  .region-footer {
    margin: 0 auto;
    width: calc(100% - 3.25rem);

    .menu {
      list-style: none;
      margin-left: 0;

      .menu-item {
        display: inline;
        padding-right: 10px;
      }
    }
  }
}
