//* stylelint-disable at-rule-no-vendor-prefix */
//* stylelint-disable property-no-vendor-prefix */
//* stylelint-disable selector-no-vendor-prefix */
//* stylelint-disable value-no-vendor-prefix */
//* stylelint-disable declaration-block-no-duplicate-properties */

// ! convert px to rem
// https://css-tricks.com/snippets/sass/px-to-em-functions
@function rem($pixels, $context: 16) {
  @return math.div($pixels, $context) * 1rem;
}

// vertical/horizontal gradient
// @include gradient(rgba($black, 0.7), rgba($black, 0), horizontal);
@mixin gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == "vertical" {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == "horizontal" {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

// diagonal gradient
// @include gradient-diagonal(0.25turn, rgba($black, 0.7), 0%, rgba($black, 0), 100%);
@mixin gradient-diagonal($turn, $from, $fromstop, $to, $tostop) {
  background: $from;
  background: -webkit-linear-gradient($turn, $from $fromstop, $to $tostop);
  background: linear-gradient($turn, $from $fromstop, $to $tostop);
}
